.about-section {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 880px) {
  .about-section {
    display: grid;
    width: 100%;
    grid-template-areas: 
      "greeting card"
      "description card"
      "description card"
      "description card"
      "description card";
    grid-template-columns: 1fr 275px;
    grid-template-rows: 90px repeat(4,1fr);
    grid-gap: 1.8rem;
    align-items: end;
  }
}
.greeting {
  grid-area: greeting;
}
.mtg-card-area {
  grid-area: card;
  align-self: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.about-description {
  grid-area: description;
}
.about-description p {
  font-size: .94rem;
  margin-bottom: 1rem;
}

